# Static checks (e.g. linting, Lighthouse)
name: Static checks

on:
    # Runs on pushes targeting the default branch
    push:
        branches: ["master"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    accessibility:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Audit URLs using Lighthouse
              uses: treosh/lighthouse-ci-action@v12
              with:
                  urls: |
                      https://jamesatk.in/
                  budgetPath: ./budget.json # test performance budgets
                  uploadArtifacts: true # save results as an action artifacts
                  temporaryPublicStorage: true # upload lighthouse report to the temporary storage
